@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;600;700;900&display=swap");

/*
    Variables
*/

:root {
    /* Light Theme */
    --clsls-color-background: white;
    --clsls-color-text: black;
    --clsls-color-link-hover: #ff4040;
    --clsls-color-button: white;
    --clsls-color-main: #ff4040;
    --clsls-color-opposite: white;

    --clsls-line-thickness: 1.1px;
    --clsls-radius: 0px;
    --clsls-font-main: "Noto Sans Mono", monospace;
    --clsls-zoom-main: 100%;

    /* Dark Theme */
    /* --clsls-line-thickness: 1.1px;
  --clsls-color-background: black;
  --clsls-color-text: white;
  --clsls-color-link-hover: #00c200;
  --clsls-color-button: black;
  --clsls-color-main: #00ff00;
  --clsls-color-opposite: white;
  --clsls-radius: 0px;
  --clsls-font-main: "Noto Sans Mono";
  --clsls-zoom-main: 120%; */
}

/*
    Normalize
*/

* {
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

br {
    user-select: none;
}

u {
    text-decoration: none;
}

/*
    Fonts
*/

* {
    font-family: var(--clsls-font-main);
}

body {
    font-size: 1rem;
    font-weight: 300;
}

/*
    Heading
*/

/* 
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.85rem;
}
h3 {
  font-size: 1.55rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
} 
*/

/*
  Text styles
*/

i {
}

b {
    font-weight: 700;
}

b b {
    font-weight: 900 !important;
}

/*
    Layout
*/

body {
    color: var(--clsls-color-text);
    font-weight: 300;
    margin: 0 10%;
    zoom: var(--clsls-zoom-main);
    background-color: var(--clsls-color-background);
}

/*
    Links
*/

u a {
    text-decoration: none !important;
    border-bottom: none;
}

u a:hover {
    border-width: 0 0 var(--clsls-line-thickness) 0;
    border-style: solid;
    border-color: var(--clsls-color-main);
}

a {
    color: var(--clsls-color-main);
    text-decoration: none;
    border-width: 0 0 var(--clsls-line-thickness) 0;
    border-style: solid;
    border-color: var(--clsls-color-main);
    padding-bottom: 0;
}

a:hover {
    border: none;
    color: var(--clsls-color-link-hover) !important;
}

tt a {
    color: var(--clsls-color-text) !important; /* rewrite regular link color */
    border-color: var(--main-text);
}

em a {
    font-style: normal; /* rewrite default behaviour */
    border-style: dashed;
    border-color: var(--clsls-color-main);
}

em a:hover {
    border-bottom: 0px dotted var(--clsls-color-main);
}

a ol {
    display: inline-block;
}

/*
    Form
*/

select,
input,
button,
textarea {
    font-size: 1rem;
    border-radius: var(--clsls-radius);
    border: var(--clsls-line-thickness) solid var(--clsls-color-text);
    padding: 1px 6px 3px 6px;
}

button,
input[type="submit"] {
    cursor: pointer;
    color: var(--clsls-color-button) !important;
}

input[type="file"]::-webkit-file-upload-button {
    font-family: var(--clsls-font-main);
    margin-right: 12px;
}
input[type="file"] {
    padding: 7px;
}

button:hover {
    opacity: 0.8;
}

button,
input[type="submit"] {
    background-color: var(--clsls-color-main);
    color: var(--clsls-color-opposite);
    border: var(--clsls-line-thickness) solid var(--clsls-color-main);
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--clsls-color-main);
}

select option {
    padding: 0;
    margin: 0;
}

ol input[type="submit"],
ol button {
    text-decoration: none;
    border: var(--clsls-line-thickness) solid var(--clsls-color-main);
    border-radius: var(--clsls-radius);
    background-color: var(--clsls-color-opposite);
    color: var(--clsls-color-main) !important;
}

ol input[type="submit"]:hover,
ol button:hover {
    text-decoration: none;
    color: var(--clsls-color-opposite) !important;
    background-color: var(--clsls-color-main);
    border: var(--clsls-line-thickness) solid transparent;
}

/*
    Component: list 
*/

ul li {
    margin-left: 18px; /* fix offset */
}

ol li {
    margin-left: 29px; /* fix offset */
}

u ul {
    list-style: none;
}

u ul li {
    margin-left: 0px;
}

u ul li::marker {
    content: "";
}

ul li::marker {
    content: "• ";
}

/*
    Component: navigation
*/

nav ul li {
    margin-left: 0; /* cancel higher rules */
}

nav ul {
    user-select: none;
}

nav ul li {
    display: inline-block;
    margin-bottom: 10px; /* margin for vertical stacking */
}

nav ul li a {
    color: var(--clsls-color-main);
}

/*
    Component: rounded image
*/

small img {
    border-radius: 100%;
}

/*
    hr, br
*/

hr {
    height: 0;
    border: 0px solid transparent;
    border-bottom: 1px solid lightgrey;
}

/*
    table
*/

td {
    padding-right: 8px;
    vertical-align: baseline;
}